*{

  margin: 0;
  padding: 0;

}

body{

  background: black;
  color: white;

}

/* global */
.gray{

  color: rgba(255, 255, 255, 0.563);

}

.flex{

  display: flex;

}


/* nav styling */


.Header .nav{

  display:  flex;
  justify-content: space-between;
  margin: 0px 20px;
  font-family: roboto;
  padding: 10px 0px;
  border-bottom: 1px solid rgb(255, 0, 0);

}

.Header .nav .search{

  border: 2px solid rgba(255, 0, 0, 0);
  padding: 5px 10px;
  border-radius: 10px;
  transition: 0.5s;

}

.Header .nav .search i{

  border: 2px solid rgba(255, 255, 255, 0.315);
  padding: 5px 5px;
  border-radius: 20px;
  transition: 0.5s;
  color: rgba(255, 255, 255, 0.399);

}


.Header .nav .ul{

  display: flex;
  margin-top: 10px;
  text-align: center;

}

.Header .nav .ul li{

  list-style: none;
  margin-left: 40px;
  border: 2px solid rgba(255, 0, 0, 0);
  padding: 5px 10px;
  border-radius: 10px;
  transition: 0.5s;
  text-align: center;
  align-items: center;
  justify-content: center;

}

.Header .nav .ul .burger{

  display: none;
  padding: 10px;

}

.Header .nav .ul li i{

  padding: 10px;
  border: 2px solid rgba(255, 0, 0, 0);
  border-radius: 20px;

}

.Header .nav .ul li i:hover{

  background: rgba(255, 0, 0, 0.371);
  border: 2px solid red;

}

.Header .nav .ul li a{

  color: white;
  font-family: roboto;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 20px;
  transition: 0.5s;

 }

 .Header .mini{

  display: grid;
  position: absolute;
  padding: 20px;
  background: black;
  border-radius: 20px;
  border: 2px solid red;
  display: none;

 }

 .Header .mini li{

  list-style: none;
  font-family: roboto;
  margin-top: 40px;
  transition: 0.5s;

 }

 .Header .mini li a{

    color: white;
    text-decoration: none;
    border: 2px solid rgba(255, 0, 0, 0);
    padding: 10px 20px;
    transition: 0.5s;


 }

 .Header .mini li a:hover{

  background: rgba(255, 0, 0, 0.323);
  border-radius: 20px;
  border: 2px solid red;

 }



/* hover effects on nav text */

.Header .nav .logo:hover{

  cursor: pointer;

}

.Header .nav .search i:hover{

  cursor: pointer;
  background: rgba(255, 0, 0, 0.371);
  border: 2px solid red;
  color: red;

}

.Header .nav .ul li a:hover{

  background: rgba(255, 0, 0, 0.323);
  border-radius: 20px;
  border: 2px solid red;

 }

/* hero section styling */

.hero{

  background-image: linear-gradient(90deg,rgba(120, 0, 0, 0.57), rgba(255, 255, 255, 0)), url(./images/banner1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 91vh;
  width: 100%;
  color: white;


}

.hero .container-hero{

  margin: 0px 50px;
  display: flex;
  justify-content: space-between;

}

/* hero left section styling */

.hero .container-hero .main-headeing-h1{

  font-size: 3em;
  margin-top: 20px;
  font-family: roboto;

}

.hero .container-hero .text-container-p{

  margin-top: 100px;
  font-family: roboto;

}

.hero .container-hero .text-container-p h3{

      font-size: 2em;

}

.hero .container-hero .btn{

  margin-top: 20px;

}

.hero .container-hero .btn button{

  padding: 10px 20px;
  color: black;
  font-family: roboto;
  border: none;
  border-radius: 20px;
  transition: 0.5s;

}

.hero .container-hero .btn button:hover{

  cursor: pointer;
  background: rgb(255, 0, 0);
  color: white;

}

/* hero right section styling */

.hero .container-hero .right .text-container-1-right, .text-container-2-right{

  margin-top: 180px;
  margin-right: 100px;
  font-family: roboto;

}

.hero .container-hero .right .text-container-1-right h1{

  font-size: 4em;

}


/* get-food */

.get-food{

  display: flex;
  margin: 50px 40px;
  font-family: roboto;

}

.get-food .left-get-food{

  width: 160%;
  font-family: roboto;

}

.get-food .left-get-food .manu{

  margin-left: 50px;
  margin-top: 20px;
  border-left: 1px solid white;
  padding: 0px 20px;

}

.get-food .left-get-food .manu button{

  margin-top: 20px;
  padding: 10px 20px;
  font-family: roboto;
  border-radius: 20px;
  border: none;
  background: black;
  color: white;
  transition: 0.5s;

}

.get-food .left-get-food .manu button:hover{

  background: white;
  color: black;
  cursor: pointer;

}

.get-food .right-get-food{

  display: flex;
  margin-left: 50px;

}

.get-food .right-get-food h1{

  font-size: 2em;

}

.get-food .right-get-food .download-app{

  display: flex;
  width: 50%;

}

.get-food .right-get-food .download-app button{

    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-family: roboto;
    transition: 0.5s;

}

.get-food .right-get-food .download-app button:hover{

  cursor: pointer;
  background: red;
  color: white;

}

.get-food .right-get-food .download-app .img-download-app{

  width: 60%;

}
.get-food .right-get-food .download-app .img-download-app img{

  width: 100%;
  border-radius: 20px;
  margin-left: 10px;

}

.get-food .right-get-food .select-food{

  margin-left: 20px;
  display: flex;
  width: 50%;

}

.get-food .right-get-food .select-food .img-select-food{

  width: 60%;


}
.get-food .right-get-food .select-food .img-select-food img{

  width: 100%;
  border-radius: 20px;

}


/* french-fries */

.french-fries{

  background-image: linear-gradient(90deg,rgba(255, 0, 0, 0.58),rgba(255, 255, 255, 0)), url(./images/banner2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;

}

.french-fries .left-french-fries{

  width: 60%;

}

.french-fries .left-french-fries h1{

  font-size: 5em;
  margin-top: 100px;
  font-family: roboto;

}

.french-fries .left-french-fries{

  margin-left: 20px;

}

.french-fries .left-french-fries .fed-beef .text-fed-beef{

  width: 40%;
  font-family: roboto;

}

.french-fries .left-french-fries .btn-left-french-fries{

  margin-top: 20px;

}

.french-fries .left-french-fries .btn-left-french-fries button{

  padding: 10px 20px;
  border-radius: 20px;
  font-family: roboto;
  border: none;
  transition: 0.5s;

}

.french-fries .left-french-fries .btn-left-french-fries button:hover{

  background: red;
  color: white;
  cursor: pointer;

}

.french-fries .right-french-fries{

  font-family: roboto;
  margin-top: 20px;

}

.french-fries .right-french-fries h1{

  font-size: 2em;
  width: 60%;

}

 /* SEE TODAY BEST DEAL !!! */

 .best-deals h1{

  font-size: 4em;
  font-family: roboto;
  text-align: center;
  margin-top: 50px;

 }

 .best-deals .slide{

  display: flex;

 }

 .best-deals .slide  li{

  margin-top: 50px;
  list-style: none;
  margin-left: 20px;

 }

 .best-deals .slide li img{

  width: 80%;
  border-radius: 20px;

 }

 .best-deals .btn{

  margin-top: 20px;
  margin-left: 45%;

 }

 .best-deals .btn button{

  font-family: roboto;
  padding: 10px 40px;
  border: none;
  border-radius: 20px;
  transition: 0.5s;

 }

 .best-deals .btn button:hover{

  background: red;
  color: white;
  cursor: pointer;

 }

 /* footer */

 .footer .nav{

  margin-top: 50px;
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  font-family: roboto;
  border-top: 2px solid red;

 }

 .footer .nav .ul{

  display: flex;

 }

 .footer .nav .ul li{

  list-style: none;
  margin-left: 40px;

 }

 .footer .nav .ul li a{

  color: white;
  font-family: roboto;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 20px;
  transition: 0.5s;

 }

 .footer .nav .ul li a:hover{

  background: rgba(255, 0, 0, 0.323);
  border-radius: 20px;
  border: 2px solid red;

 }
